SECRET_KEY=YOU-HAVE-TO-CHANGE-THIS
SECURITY_PASSWORD_SALT=YOU-HAVE-TO-CHANGE-THIS
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
SMTP_EMAIL=leaf-team@leaf.com
SMTP_USERNAME=5981236bc2de7b
SMTP_PASSWORD=38f6b82d0c7435
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=465
CELERY_BROKER_URL=redis://redis:6379/1
CELERY_RESULT_BACKEND=redis://redis:6379/1
CELERY_FLOWER_USER=flower
CELERY_FLOWER_PASSWORD=flower
CONFIRMATION_URL=https://leaf.com/confirm/{{ confirmation_token }}
PASSWORD_RESET_URL=https://leaf.com/password-reset/{{ confirmation_token }}/
MEDIA_BASE_URL=/media
AVAILABLE_IMAGE_SIZES=small,medium,large
SMALL_IMAGE_SIZE=854x480
MEDIUM_IMAGE_SIZE=1280x720
LARGE_IMAGE_SIZE=1920x1080